Source: osso-product-info
Section: libs
Priority: extra
Maintainer: Pali Rohár <pali.rohar@gmail.com>
Build-Depends: debhelper (>= 5), libcal-dev, libdbus-1-dev, libsysinfo-dev, pkg-config
Standards-Version: 3.9.3

Package: libossoproductinfo0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: get SW/HW information on OSSO platform
 osso-product-info is a wrapper which provide a unified interface
 to get an information about a hardware the program is running on,
 and a version of OSSO sowftware.
 .
 This is a shared library for C programs

Package: libossoproductinfo-dev
Architecture: all
Description: get SW/HW information on OSSO platform (development files)
 osso-product-info is a wrapper which provide a unified interface
 to get an information about a hardware the program is running on,
 and a version of OSSO sowftware.
 .
 This is a shared library for C programs
